<div class="row">
   <div class="container">
      <div class="logo">
        <img src="../../../assets/argprograma icono.png" alt="Argentina Programa Logo">
     </div>
      <div class="redes">
         <a href="https://www.instagram.com/giulianamolaro/" target="_blank"><img src="../../../assets/instalogo.png" alt="Logo de Instagram"></a>
         <a href="https://www.linkedin.com/in/giuliana-molaro-5b4512206/" target="_blank"><img src="../../../assets/likedinlogo.png" alt="Logo de Likedin"></a>
         <a href="https://github.com/giumolaro159" target="_blank"><img  src="../../../assets/githublogo.png" alt="Logo de Github"></a>
         <a href="../login/" type="button" class="btn btn-outline-light">Ingresar</a>
     </div>
  </div>  
</div>
<app-banner></app-banner>

