<section>
<div class="container">
    <h1>Proyectos</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="container">
          <a href="https://github.com/tu_usuario/repositorio_1">
          <img src="../../../assets/app gatos.jpg" alt="Imagen 1" style="width:100%;">
          <div class="texto-encima">
            <h1>Pagina Web de Gatos</h1>
            <p>Este fue mi primera pagina web con HTML y CSS</p>
          </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="container">
            <a href="https://github.com/tu_usuario/repositorio_1">
          <img src="../../../assets/app gatos.jpg" alt="Imagen 2" style="width:100%;">
          <div class="texto-encima">
            <h1>Título encima de la imagen 2</h1>
            <p>Texto adicional encima de la imagen 2</p>
          </div>
        </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="container">
          <a href="https://github.com/tu_usuario/repositorio_1">  
          <img src="../../../assets/app gatos.jpg" alt="Imagen 3" style="width:100%;">
          <div class="texto-encima">
            <h1>Título encima de la imagen 3</h1>
            <p>Texto adicional encima de la imagen 3</p>
          </div>
         </a>
        </div>
      </div>
    </div>
  </div>
</section>