<div class="flex-container">

    <div>
        <img src="../../../assets/estudios.jpg" class="img-fluid first">
    </div>
    <div>
        <h1>Estudios</h1>
        <p>Profesorado Universitario en Inglés. Facultad de Filosofía y Letras, UNCUYO. 20 materias aprobadas de la
            carrera.<br>
            Escuela Secundaria "Compañia de María". Titulo: Economía y Gestión de las Organizaciones, orientación
            Comercio Exterior.</p> <br>
        <h1>Formación complementaria</h1>
          Curso HTML y CSS (inicial) - 2023<br>
          Curso cuatrimestral de Inglés. Nivel 4 (Upper Intermediate) - 2017
    </div>

</div>