<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-sm-12 col-lg-11">
        <ul>
            <li>
                <h2>Profesora De Inglés</h2> - <h4>2023</h4>
            </li>
            <p>Profesora de Inglés en Colegio San Nicolas - Nivel Inicial<br>
             Profesora de Ingles en Master English Institute<br> 
             Profesora de Inglés en SpringTime Institute</p>
        </ul>
        <ul>
            <li>
                <h2>Profesora De Inglés</h2> - <h4>2022</h4>
            </li>
            <p>
                Profesora de Inglés en Colegio San Nicolas - Nivel Inicial<br>
                Profesora de Inglés en Imagine Institute 
            </p>
        </ul>
        <ul>
            <li>
                <h2>Profesora de Inglés</h2> - <h4>2021</h4>
            </li>
            <p>
                Profesora de Inglés en Imagine Institute   
            </p>
        </ul>
    </div>
</div>