<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-sm-12 col-lg-11">
        <ul>
            <li>
                <h2>Trabajo 1</h2>-<h4>fecha</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, enim! Officia officiis iure aliquam earum.
                Cum commodi nostrum rem, dolores adipisci accusantium aspernatur autem eum omnis nam iste praesentium
                neque?</p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 2</h2>-<h4>fecha</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis magnam soluta nobis molestias labore
                aut necessitatibus sequi sit possimus et quasi voluptas assumenda in suscipit cupiditate illum, minima
                corrupti. Asperiores!</p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 3</h2>-<h4>fecha</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, quod. Iusto a, ullam sequi, cumque
                totam atque quidem porro dolorum non officiis temporibus dolor ducimus. Deserunt consequatur
                perspiciatis asperiores itaque!</p>
        </ul>
    </div>
</div>