<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/mifoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>


    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1>Giuliana Molaro</h1>
        <h4>Profesora de Inglés</h4>
        <h4>Estudiante de programación</h4>
    </div>


    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

        <h4>Acerca de mi</h4>
        <p>Soy estudiante de Profesorado de Inglés, actualmente estoy trabajando como profesora en institutos y
            colegios. Disfruto mi trabajo, cuando planifico trato de añadir muchas actividades en donde se diviertan
            aprendiendo.<br>
            Empece a estudiar programación en 2022, cuando entre al curso de Argentina Programa. Cuanto más aprendo, mas
            me doy cuenta que me gusta el diseño de Paginas Web. Estoy interesada en seguir aprendiendo sobre FrontEnd. 
        </p>
    </div>



</div>