*{
    background-color: rgb(58, 0, 112);
    color: azure;
    font-family: 'Inconsolata';
    /*font-size: 20px;*/
}

.row{
    padding: 20px;
    text-align: center;
}

/* estilos de la foto */
 @media (min-width: 576px) {
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px rgb(209, 141, 255);
        left: 2%;
        top: 500px;
    }
 }

 @media (max-width: 575px) {
    #fotodeperfil{
        position: absolute;
        width: 20%;
        border-radius: 40%;
        box-shadow: 3px 3px 3px rgb(209, 141, 255);
        left: 40%;
        top: 430px;
    }
 }