<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/app gatos.jpg" class="img-fluid" id="fotodeperfil">
    </div>


    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1>Giuliana Molaro</h1>
        <h3>Profesora de Inglés</h3>
        <h3>Estudiante de programación</h3>
    </div>


    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    
        <h4>Acerca de mi</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque reiciendis et quaerat alias molestias,
            minus
            placeat voluptate odit fugit repudiandae laboriosam reprehenderit qui eos, amet vitae. Alias, nulla velit!
        </p>
    </div>



</div>