<div class="row">
    <h1>Habilidades</h1>
    <h4>Hard Skills</h4>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="80"
  [subtitle]="'80%'"
  [subtitleColor]="'black'"
  [radius]="100"
  [title]="'HTML'"
  [titleColor]="'purple'"
  [showUnits]="false"
  [outerStrokeWidth]="15"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#4e0b75'"
  [innerStrokeColor]="'#d621ff'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="80"
  [subtitle]="'80%'"
  [subtitleColor]="'black'"
  [title]="'CSS'"
  [titleColor]="'purple'"
  [radius]="100"
  [showUnits]="false"
  [outerStrokeWidth]="15"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#4e0b75'"
  [innerStrokeColor]="'#d621ff'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="60"
  [subtitle]="'60%'"
  [radius]="100"
  [subtitleColor]="'black'"
  [title]="'Base de datos'"
  [titleColor]="'purple'"
  [showUnits]="false"
  [outerStrokeWidth]="15"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#4e0b75'"
  [innerStrokeColor]="'#d621ff'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
   </div> 
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="30"
  [subtitle]="'30%'"
  [radius]="100"
  [subtitleColor]="'black'"
  [title]="'JavaScript'"
  [titleColor]="'purple'"
  [showUnits]="false"
  [outerStrokeWidth]="15"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#4e0b75'"
  [innerStrokeColor]="'#d621ff'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="30"
  [subtitle]="'30%'"
  [radius]="100"
  [subtitleColor]="'black'"
  [title]="'JAVA'"
  [titleColor]="'purple'"
  [showUnits]="false"
  [outerStrokeWidth]="15"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#4e0b75'"
  [innerStrokeColor]="'#d621ff'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="95"
  [subtitle]="'95%'"
  [radius]="100"
  [subtitleColor]="'black'"
  [title]="'Idioma Inglés'"
  [titleColor]="'purple'"
  [showUnits]="false"
  [outerStrokeWidth]="15"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#4e0b75'"
  [innerStrokeColor]="'#d621ff'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
   </div>
</div>
