<section>
<div class="container">
    <h1>Proyectos</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="container">
          <a href="https://codepen.io/giuliana159/pen/abjRRaz">
          <img src="../../../assets/app gatos.jpg" alt="Imagen 1" style="width:100%;">
          <div class="texto-encima">
            <h1>Pagina Web de Gatos</h1>
            <p>Este fue mi primera pagina web con HTML y CSS</p>
          </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="container">
            <a href="https://github.com/giumolaro159/portfolio_FrontEnd-Giuliana-">
          <img src="../../../assets/portfolio.jpg" alt="Imagen 2" style="width:100%;">
          <div class="texto-encima">
            <h1>Proyecto Integrador Argentina Programa</h1>
            <p>Para el proyecto integrador de Argentina Programa realice un Portfolio Web</p>
          </div>
        </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="container">
          <a href="https://github.com/giumolaro159/PaginaWeb-SKZ.git">  
          <img src="../../../assets/imagenweb.png" alt="Imagen 3" style="width:100%;">
          <div class="texto-encima">
            <h1>Pagina Web</h1>
            <p>Pagina web creada para practicar conceptos de HTML y CSS</p>
          </div>
         </a>
        </div>
      </div>
    </div>
  </div>
</section>